body {
	width: 100%;
}

#outer_wrapper {
	position: relative;
	left: 50%;
	top: 50%;
}

#wrapper {
	width: 300px;
	position: relative;
	top: -200px;
	left: -150px;
}

#login_header {
	width: 100%;
	height: 70px;
}

#login_header img,#login_header h1 {
	float: left;
}

#login_header h1 {
	margin-top: 20px;
	margin-left: 20px;
}

#error_msg ul li {
	list-style: none;
}

#error_msg {
	width: 100%;
	border: 1px solid #f6fBa5;
	background: #ffd;
	margin-bottom: 15px;
	color: red;
	-webkit-box-shadow: #d8d8d8 0px 4px 10px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 10px 10px 20px #000;
	behavior: url("css/ie-css3.htc");
}

#form {
	width: 100%;
	height: 200px;
	diaplay: block;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-box-shadow: #C8C8C8 0px 4px 18px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 10px 10px 20px #000;
	behavior: url("css/ie-css3.htc");
}

.input_area {
	margin-left: 20px;
}

#name_block {
	margin-bottom: 20px;
}

#pwd_block {
	margin-bottom: 5px;
}

.input_area .label {
	margin-bottom: 50px;
}

.input_wrapper input {
	width: 260px;
	height: 30px; ]
	line-height: 30px;
	border: 1px solid #E5E5E5;
}

#login {
	width: 75px;
	font-weight:bold;
	color:#fff;
	height: 30px;
	background: url("../imgs/button.png") left top no-repeat;
	border: none;
	float: right;
	margin-right: 20px;
}

#copyright{
	margin-left:20px;
	margin-top:15px;
	color:#999;
}